---
Checks:          '

-*,

boost-*,
-boost-use-ranges,

bugprone-*,
-bugprone-branch-clone,
-bugprone-exception-escape,
-bugprone-easily-swappable-parameters,
-bugprone-crtp-constructor-accessibility,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-macro-parentheses,
-bugprone-narrowing-conversions,
-bugprone-switch-missing-default-case,
-bugprone-assignment-in-if-condition,
-bugprone-reserved-identifier,

misc-*,
-misc-no-recursion,
-misc-non-private-member-variables-in-classes,
-misc-include-cleaner,
-misc-header-include-cycle,
-misc-use-internal-linkage,
-misc-use-anonymous-namespace,
-misc-const-correctness,
-misc-misplaced-const,
-misc-confusable-identifiers,

modernize-*,
-modernize-use-auto,
-modernize-pass-by-value,
-modernize-raw-string-literal,
-modernize-use-transparent-functors,
-modernize-use-trailing-return-type,
-modernize-use-default-member-init,
-modernize-use-designated-initializers,
-modernize-use-nodiscard,
-modernize-macro-to-enum,
-modernize-concat-nested-namespaces,
-modernize-use-std-numbers,
-modernize-redundant-void-arg,

mpi-*,
-mpi-type-mismatch,

openmp-*,
-openmp-exception-escape,
-openmp-use-default-none,

performance-*,
-performance-enum-size,
-performance-noexcept-swap,
-performance-unnecessary-value-param,
-performance-avoid-endl,
-performance-no-int-to-ptr,
-performance-noexcept-move-constructor,
-performance-inefficient-string-concatenation,

portability-*,
-portability-simd-intrinsics,

readability-container-size-empty,
readability-delete-null-pointer,
readability-deleted-default,
readability-misplaced-array-index,
readability-non-const-parameter,
readability-redundant-control-flow,
readability-redundant-declaration,
readability-redundant-function-ptr-dereference,
readability-redundant-preprocessor,
readability-redundant-smartptr-get,
readability-redundant-string-cstr,
readability-simplify-subscript-expr,
readability-static-accessed-through-instance,
readability-static-definition-in-anonymous-namespace,
readability-string-compare,
readability-uniqueptr-delete-release,
readability-use-anyofallof

'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
...

