---
Checks:          '

-*,

boost-*,

bugprone-*,
-bugprone-exception-escape,

misc-*,
-misc-misplaced-const,
-misc-non-private-member-variables-in-classes,

modernize-*,
-modernize-use-auto,
-modernize-loop-convert,
-modernize-pass-by-value,
-modernize-raw-string-literal,
-modernize-use-using,
-modernize-avoid-bind,
-modernize-return-braced-init-list,
-modernize-use-transparent-functors,
-modernize-redundant-void-arg,
-modernize-avoid-c-arrays,

mpi-*,

openmp-*,

performance-*,

portability-*,

readability-const-return-type,
readability-container-size-empty,
readability-misleading-indentation,
readability-misplaced-array-index

'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...

