<christian.godenschwager@fau.de>      <christian.godenschwager@informatik.uni-erlangen.de> 
<florian.schornbaum@fau.de>           <florian.schornbaum@informatik.uni-erlangen.de> 
<martin.bauer@fau.de>                 <martin.bauer@informatik.uni-erlangen.de>
<martin.bauer@fau.de>                 <bauer_martin@gmx.de> 
<Daniela.Anderl@lstm.uni-erlangen.de> <daniela.anderl@lstm.uni-erlangen.de> 
<regina.ammer@fau.de>                 <regina.ammer@informatik.uni-erlangen.de> 
<matthias.markl@fau.de>               <matthias.markl@ww.uni-erlangen.de>